.nav {

  display: flex;

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    font-weight: 600;
    color: $color-dark-blue;
  }

  @include desktop {

    column-gap: $offset-middle;
    align-items: center;
    height: 100%;

    &_own {
      margin-top: $offset-middle;

      .nav__link {
        color: $color-dark-blue;
        font-weight: 600;
      }
    }

    &_header {
      .nav__link {
        color: black;
        font-weight: 400;
      }
    }

    &__list {
      column-gap: $offset-middle;
      display: flex;
      align-items: center;
      height: 100%;
    }

    &__item {
      position: relative;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;

      &_dropdown {
        display: flex;
        align-items: center;

        img {
          padding: 0 8px;
        }
      }

      &:hover {
        .nav__dropdown {
          visibility: visible;
        }
      }
    }

    &__link {
      color: #000;
      font-weight: 400;
      line-height: 1.25em;

      &_dropdown {
        margin-bottom: 15px;
      }
    }

    &__dropdown {
      position: absolute;
      background: #FFF;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
      bottom: -70px;
      visibility: hidden;
      left: -8px;
      z-index: 10;
      border-top: 1px solid #D7D7D7;

      &.active {
        visibility: visible;
      }
    }

    &__dropdown-inner {
      padding: 7px 26px;
      display: flex;
      flex-direction: column;
    }
  }

  @include non-desktop {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    row-gap: 20px;

    &_header {
      display: none;
    }

    &__list {
      flex-direction: column;
      row-gap: 20px;
    }

    &__link {
      font-size: 14px;
    }
  }
}