.header {
  position: relative;
  background-color: white;
  border-bottom: 1px solid $color-light-grey;

  @include desktop {
    &__wrapper {
      padding: $offset-secondary $offset-main;
      justify-content: space-between;
      align-items: center;
    }

    &__nav {
      display: flex;
    }

    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      position: relative;
      margin-right: $offset-middle;
      cursor: pointer;

      &_dropdown {
        display: flex;
        align-items: center;

        img {
          padding: 0 8px;
        }
      }
    }

    &__link {
      color: #000;
      font-weight: 400;
      line-height: 1.25em;

      &_dropdown {
        margin-bottom: 15px;
      }
    }

    &__dropdown {
      position: absolute;
      background: #FFF;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.09);
      bottom: 0px;
      left: -8px;
      z-index: -1;
      transition: ease-in .2s;

      &.active {
        bottom: -105px;
      }
    }

    &__dropdown-inner {
      padding: 7px 26px;
      display: flex;
      flex-direction: column;
    }
  }

  @include tablet {
    &__wrapper {
      padding: 15px 15px;
      justify-content: space-between;
      align-items: center;
    }

    &__nav {
      display: none;
    }
  }

  @include mobile {
    &__wrapper {
      padding: 15px 15px;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      max-width: 100px;

      img {
        width: 100%;
      }
    }

    &__nav {
      display: none;
    }
  }
}