.header {
  position: relative;
  background-color: white;
  border-bottom: 1px solid $color-light-grey;

  @include desktop {
    &__wrapper {
      height: 90px;
      justify-content: space-between;
      align-items: center;
    }

    

   
  
  }

  @include tablet {
    &__wrapper {
      padding: 15px 15px;
      justify-content: space-between;
      align-items: center;
    }

    &__nav {
      display: none;
    }
  }

  @include mobile {
    &__wrapper {
      padding: 15px 15px;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      max-width: 100px;

      img {
        width: 100%;
      }
    }

    &__nav {
      display: none;
    }
  }
}