@import '../scss/breakpoints';
@import '../scss/fonts';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  &_hidden{
    overflow: hidden;
  }
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.main {
  position: relative;
  overflow: hidden;

  @include big-desktop {
    &_own {
      background-image: url(../img/main/main-bg.png);
      background-size: cover;
    }
  }

  @include desktop {
    background-image: url(../img/main/bg.png);
    background-position: center top;

    &_own {
      background-image: url(../img/main/main-bg.png);
    }
  }

  @include tablet {
    background-image: url(../img/main/bg.png);
    background-size: auto;

    &_own {
      background-image: url(../img/main/main-bg-mobile.png);
      background-size: cover;
    }
  }

  @include mobile {
    background-image: url(../img/main/mobile-bg.png);
    background-position: center top;
    background-size: cover;

    &_own {
      background-image: url(../img/main/main-bg-mobile.png);
      background-size: cover;
    }
  }
}




@import '../scss/vars';
@import '../scss/layout';
@import '../scss/wrapper';
@import '../scss/animation';
@import '../html/blocks/title/title';
@import '../html/blocks/button/button';
@import "../html/common/menu/menu";
@import "../html/common/header/header";
@import "../html/blocks/hamburgers/hamburgers";
@import "../html/common/footer/footer";
@import "../html/blocks/cards/cards";
@import "../html/blocks/result/result";
@import "../html/blocks/infinite-slider/infinite-slider";
@import "../html/blocks/about/about";
@import "../html/blocks/quote/quote";
@import "../html/blocks/jury/jury";
@import "../html/blocks/conditions/conditions";
@import "../html/blocks/contacts/contacts";
@import "../html/blocks/404/404";
@import "../scss/input";
@import "../scss/checkbox";
@import "../html/blocks/form/form";
@import "../html/blocks/own/own";
@import "../html/blocks/nav/nav";